@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
    top:0;
    left:0;
    background-color: rgba(141, 194, 111, 0.5); 
}

.side-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    min-width: 150px;
    max-width: 250px;
    padding-top: 20px;
    z-index: 2;
}

.input-number, .input-select {
    width: 100%;
}

.input-button {
    width: 100%;
}
